template(name='importTransactions')
  .container
    .row
      .col-xs-12
        h2 Importieren
    .row
      .content-block
        .content
          form(data-id='csv-import-file-form')
            .row
              .col-xs-4
                input.input(type='file' name='csv-import-file' data-id='csv-import-file')
              .col-xs-4
                select.input(name='moneyaccount-id' data-id='moneyaccount-id')
                  each moneyAccounts
                    option(value='{{_id}}') {{name}}
            .row
              .col-xs-12.text-right
                button.btn.btn-success(type='submit') Importieren
