template(name='updateTransaction')
  .container
    .row
      .col-xs-12
        with transaction
          form(data-id='update-transaction-form')
            h3 Transaktion bearbeiten: {{description}}
            .content-block.table
              .row
                .col-xs-3
                  label Typ
                .col-xs-9
                  select.input(name='type' data-id='type')
                    option(value='expense' selected='{{selectedIfTransactionTypeExpense type}}') Ausgabe
                    option(value='earning' selected='{{selectedIfTransactionTypeEarning type}}') Einnahme
              .row
                .col-xs-3
                  label Datum
                .col-xs-9
                  input.input(name='date' data-id='date' value='{{formatDate date}}')
              .row
                .col-xs-3
                  label Betrag
                .col-xs-9
                  input.input(name='value' data-id='value' value='{{formatNumberForInput value}}')
              .row
                .col-xs-3
                  label Kategorie
                .col-xs-9
                  input.input(name='category' data-id='category' value='{{category}}')
              .row
                .col-xs-3
                  label Konto
                .col-xs-9
                  select.input(name='account-id' data-id='account-id')
                    each ../accounts
                      option(value='{{_id}}' selected='{{isSelectedAccount _id ../accountId}}') {{name}}
              .row
                .col-xs-3
                  label Beschreibung
                .col-xs-9
                  input.input(name='description' data-id='description' value='{{description}}')
              .row
                .col-xs-6
                  a.button(href="{{pathFor 'index'}}") Abbrechen
                .col-xs-6.text-right
                  button.btn.btn-success(type='submit' data-id='update-transaction') Speichern
